.button {
  width: 100%;
  padding: 18px 0 15px;
  font-size: 24px;
  line-height: 28px;
  background-color: var(--yellow-1);
  border-radius: 32px;

  &:disabled {
    color: var(--gray-4);
    background-color: var(--gray-3);
    cursor: not-allowed;
  }

  &:active {
    background-color: var(--yellow-2);
  }
}